.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    z-index: 10;
    padding: 13px 15px;
    width: 100%;
    color: var(--white);
}

.headerInner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.displayFlexBtw {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.displayFlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.displayFlexStart {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}

.mainImage {
    width: -webkit-fill-available;
    height: 750px;
    object-fit: cover;
}

.decription {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, var(--black-rgba-0), var(--black-rgba-6));
    color: var(--white);
    width: 100%;
    padding: 20px 20px 8px 16px;
}


.backIcon {
    padding: 0px 3px;
}

.backWrapper {
    cursor: pointer;
    padding-top: 20px;
    text-align: left;
    width: 100%;
}

.name {
    font-size: 17px;
    font-weight: 600;
    padding: 2px 0px;
    line-height: 20px;
}

.time {
    font-weight: 400;
    font-size: 10px;
    padding: 2px 0px;
    line-height: 12px;
    opacity: .7;
}

.beginner {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.avatarWrapper {
    border-radius: 50%;
    overflow: hidden;
}

.item {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    padding-left: 12px;
}

.item p {
    padding: 0px 8px;
}

.note {
    color: var(--white);
    background-color: var(--orange);
    padding: 15px 0px;
    border-radius: 8px;
}

.heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    margin-bottom: 10px;
}

.itemNote {
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    padding: 0px 12px;
    text-align: center;
}

.title {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 15px;
}

.titleSmall {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
}

.itemTag {
    background-color: var(--orange);
    padding: 5px 12px;
    margin-left: 8px;
    border-radius: 4px;
}

.itemTag p {
    color: var(--white);
}

.text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

.subText {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
}

.avaCustomer {
    border-radius: 50%;
}

.icon {
    padding: 0px 10px;

}

.pl_5 {
    padding-left: 5px;
}

.textCmt {
    text-decoration: underline;
    color: var(--orange);
    padding: 15px 0px;
    border-bottom: 1px solid var(--whitegray);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}

.plus {
    position: absolute;
    top: 50%;
    right: 48%;
    transform: translateY(-50%);
}

.subItem {
    margin-top: 10px;
}

.buttonWhite {
    border: 1px solid var(--white);
    padding: 0px 20px;
    margin: 5px 0px;
}

.buttonOrange {
    border: 1px solid var(--orange);
    color: var(--orange);
    margin: 10px 0px;
}

.saveRecipes {
    position: absolute;
    bottom: 17px;
    right: 20px;
}

.nameUser {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
}


