.decription {
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg, var(--black-rgba-0), var(--black-rgba-6));
    color: var(--white);
    width: 100%;
    padding: 20px 20px 8px 16px;
}

.name {
    font-size: var(--fs-17);
    font-weight: var(--weight-500);
    padding: 1.5px 0px;
    line-height: 20px;
}

.rating {
    font-weight: var(--weight-400);
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: var(--fs-12);
    padding: 1.5px 0px;
    line-height: 16px;
}

.count {
    padding: 0px 5px;
    font-weight: var(--weight-400);
}

.time {
    font-weight: var(--weight-400);
    font-size: 10px;
    padding: 1.5px 0px;
    line-height: 12px;
}

.author {
    font-weight: var(--weight-400);
    font-size: var(--fs-12);
    line-height: 16px;
    padding: 1.5px 0px;
}
.action {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 8px;
}
