.dropdown-button {
  position: relative;
}

.dropdown-button:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2px;
  height: 70%;
  background-color: var(--grayCool);
}

.sort-item-active {
  background-repeat: no-repeat;
  background-position: top 50% right 10px;
}

